<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add student</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
  <div class="container-fluid">
    <!-- muestra los datos del body -->
    <div class="card">
      <div>
        <h4>Name:</h4>
        <p><%= name %></p> <!-- <%= name %> es una variable que se envia desde el controlador -->
      </div>
      <div>
        <h4>NSS:</h4>
        <p><%= nss %></p>
      </div>
      <div>
        <h4>Age:</h4>
        <p><%= age %></p>
      </div>
      <div>
        <h4>Blood Type:</h4>
        <p><%= bloodType %></p>
      </div>

    </div>
  </div>
</body>

</html>