<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Person</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
  <h1>Person Name: <%= ID %>
  </h1>
  </h1>
  <%
  const msgValues = {
    'bienvenido': 'Bienvenido',
    'hola': 'Hola',
    'adios': 'Adiós'
  }

  //utilizando switch
  switch (MESSAGE) { 
    case 'hola' : %>
      <h2>Mensaje: <%= msgValues[MESSAGE] %></h2>
    <% 
    break; 
    case 'bienvenido' : 
    %>
      <h2>Mensaje: <%= msgValues[MESSAGE] %></h2>
    <% 
    break; 
    case 'adios' : 
    %>
      <h2>Mensaje: <%= msgValues[MESSAGE] %></h2>
    <% 
    break; 
    default:
    %>
      <h2>Mensaje invalido</h2>
    <% 
    break; 
  }
  if(Number(TIMES) % 1 == 0){
    for(var i = 0; i < Number(TIMES); i++) { %>
      <h4><%= msgValues[MESSAGE] && `${msgValues[MESSAGE]} ${ID}`%> </h4>
    <% }   
  }else{%>
    <h4>El query times debe ser un numero entero</h4>
  <%}%>
</body>

</html>