<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Persons</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 text-center">
        <h1>Persons List</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">NSS</th>
              <th scope="col">Name</th>
              <th scope="col">Age</th>
              <th scope="col">blood Type</th>
            </tr>
          </thead>
          <tbody>
            <% persons.forEach(person=> { %>
              <tr>
                <th scope="row"> <%= person.nss %> </th>
                <td> <%= person.name %> </td>
                <td> <%= person.age %> </td>
                <td> <%= person.bloodType %> </td>
                <td> <a class="btn btn-success" href="<%= `find-by-id/${person._id}` %>">Update</a> </td>
                <td> <a class="btn btn-danger" href="<%= `delete-person/${person._id}` %>">Delete</a> </td>
              </tr>
            <%});%>
          </tbody>
        </table>
        <a href="./add-person" class="btn btn-primary">Add</a>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
</body>

</html>